h1{
    color:blue;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header p{
text-align: center;
font-size: large;
color: cornflowerblue
}
.lolONE{
    text-align: center;
font-size: large;
color: white;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    text-align: center;
    color: white;
}
h3{
    text-align: center;
    color: cornflowerblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.lolTHREE{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.gugugaga{
    text-align: center;
}
.gugugagaa{
    background-color: darkblue;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.lolFOUR{
    background-color: darkblue;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    
    background-image: url('https://img.freepik.com/free-vector/circles-background-in-dark-tones_60389-166.jpg?size=626&ext=jpg&ga=GA1.1.44546679.1716249600&semt=ais_user');"
}
.lolFIVE{
    background-color: darkblue;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.lolSIX{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    color: white;
    
}
.lolSEVEN{
    background-color: darkblue;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.lolNINE{
border-radius: 10px;


}
.lolTEN{
    border-radius: 10px;
}
.lolELEVEN{
    text-align: center;
}
.lolTWELVE{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
